<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css?family=Lato|Lobster" rel="stylesheet">

<style>
body, html {
    height: 100%;
    font-family: "Lato", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("background2.jpg");
    min-height: 75%;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#try" class="w3-button w3-block w3-black">TRY IT</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">Dishly</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT DISHLY</span></h5>
    <p>Ever travel to somewhere new and want to try the local cuisine? Or maybe you're just curious about what dishes are popular in your area. Unfortunately, Yelp won't help you very much. Since it's a business-oriented application, there is no way to determine which dishes are the most popular or most highly rated in your city. Instead, try Dishly! Dishly is a web application based off of Yelp, which selects popular dishes around you! Select a city to view some stats about what types of dishes are in the area.</p>
    <p>Right now, Dishly is in the demo phase of its implementation, so there are only a few cities to choose from. Apologies!</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"An intricate and imperative piece of modern American society. 10/10 would recommend."</i></p>
      <p>Renowned Cuisine Connoisseur: Stefan Zier</p>
    </div>
  </div>
</div>

<!-- Menu Container -->
<div class="w3-container" id="try">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">PICK A CITY</span></h5>   
    <div class="row">
      <div class="city_icon">
        <a href="./toronto/analysis"><img class="city_icon" src="toronto_icon.png"></a>
        <p>Toronto</p>
      </div>
      <div class="city_icon">
        <a href="./las_vegas/analysis"><img class="city_icon" src="las_vegas_icon.png"></a>
        <p>Las Vegas</p>
      </div>
      <div class="city_icon">
        <a href="./montreal/analysis"><img class="city_icon" src="montreal_icon.png"></a>
        <p>Montreal</p>
      </div>
    </div>

  </div>
</div>

</body>
</html>

